<section class="center card">
  <h2><%= I18n.t('views.users_mailer.recover_password.header.message1') %> <%= @user.first_name %> <%= @user.last_name %>,</h2>

  <span style="display: block; width: 30%;">
    <hr style="border-bottom: 1px solid #FF2C5F;" />
  </span>

  <p>
    <%= I18n.t('views.users_mailer.recover_password.body.message1') %>
  </p>

  <a href=<%= "#{ENV['BASE_APP']}/auth/password-change?token=#{@user.reset_password_key}" %>>
    <button>
      <%= I18n.t('views.users_mailer.recover_password.body.link') %>
    </button>
  </a>

  <hr />

  <p><%= I18n.t('views.users_mailer.recover_password.body.message2') %></p>

  <span style="display: block; padding: 10px; background-color: #EFF1F4;">
    <%= "#{ENV['BASE_APP']}/auth/password-change?token=#{@user.reset_password_key}" %>
  </span>

  <p><%= I18n.t('views.users_mailer.recover_password.body.message3') %></p>

  <p><%= I18n.t('views.users_mailer.recover_password.body.message4') %></p>

  <p><%= I18n.t('views.users_mailer.recover_password.footer.message1') %></p>
  <p><%= I18n.t('views.users_mailer.recover_password.footer.message2') %></p>
</section>
